:root {
    --secondary-bg-subtle: #e2e3e5; /* from bootstrap */
    --menu-bg-color: #f0f8ff;
    --text-color: #000000;
    --task-completed-color: #a4a5a7;
}


.outer-box {
    padding: 20px 10px;
}

/*
Style menu column
*/

.menu-side {
    height: calc(100vh - 40px);
    padding: 20px;
    background-color: var(--menu-bg-color);
    border-radius: 20px;
    display: none;
}

.menu-side a.today,
.menu-side a.work {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-size:smaller;
}

a.work:hover {
    background-color: var(--secondary-bg-subtle);
}

a.today:hover {
    background-color: var(--secondary-bg-subtle);
}

/*
Style menu bar (responsive only)
*/

.menu-side-bar {
    display: flex;
    gap: 10px
}

.menu-side-bar a.today,
.menu-side-bar a.work {
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: left;
    border-radius: 10px;
    font-size:smaller;
}

/*
Style list column
*/

.list-side {
    height: 80vh;
    padding: 10px 20px;
}

.option-title {
    text-align: center;
}

.task-list {
    height: 75vh;
    overflow-y: auto;
}

.task-box {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.task-box p {
    overflow-wrap: anywhere;
}

.task-box .form-check-input,
.task-box .form-check-label {
    cursor: pointer;
}

.task-box .description {
    display: none;
}

.task-box .responsive-modify-box {
    display: none;
}

.task-box .appear {
    display: none;
}

.task-box .modify-box-appear {
    display: block;
}

.task-box .task-name {
    font-weight: 600;
}

.task-box .checked {
    color: var(--task-completed-color);
    text-decoration: line-through var(--task-completed-color) 2px;
}

.task-box .rotate {
    transform: rotate(180deg);
}

/*
Style detail column
*/

.detail-side {
    height: calc(100vh - 40px);
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    display: none;
}

/*
Global setting
*/

.icon {
    margin-top: -3px;
}

input:focus {
    box-shadow: none !important;
}

textarea:focus {
    box-shadow: none !important;
}

/*
Responsive setting
*/

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .detail-side {
        display: block;
    }
    .task-box .appear {
        display: block;
    }
    .task-box .modify-box-appear {
        display: none;
    }
}

@media (min-width: 576px) {
    .menu-side {
        display: block;
    }
    .menu-side-bar {
        display: none;
    }
    .list-side {
        height: calc(100vh - 40px);
    }
    .option-title {
        text-align: start;
    }
}

@media (max-width: 370px) {
    .add-task-box {
        margin: 0 !important;
    }
    .task-box {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 325px) {
    html {
        font-size: 11px;
    }
}